<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :departments.sync="departments" :ramos.sync="ramos" :types.sync="types" :cities.sync="cities" :loading.sync="loading"/>
  </div>
</template>

<script>
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import ListTable from '../components/ListTable.vue'
  import { mapActions, mapGetters } from 'vuex'

  const MODULE_NAME = 'usuario'
  const crudStore = crudHelper(MODULE_NAME)

  const fields = [
    { label: 'Status', slug: 'class_id' },
    { label: 'Nome', slug: 'name' },
    { label: 'Tipo', slug: 'personType' },
    { label: 'Depto.', slug: 'department_id' },
    { label: 'Ramo', slug: 'type_id' },
    { label: 'Cidade', slug: 'city_id' }
  ]

  const filters = [
    //  {
    //     slug: 'created_at',
    //     label: 'Cadastro criado entre:',
    //     type: 'daterange',
    //     start_placeholder: 'Início',
    //     end_placeholder: 'Fim',
    //     range_separator: 'e'
    //   },
    //   {
    //     slug: 'nome',
    //     type: 'text',
    //     placeholder: 'Nome'
    //   },
    //   {
    //     slug: 'sexo',
    //     type: 'select',
    //     autocomplete: false,
    //     placeholder: 'Sexo',
    //     options: [
    //       { key: 'F', label: 'Feminino' },
    //       { key: 'M', label: 'Masculino' }
    //     ]
    //   },
    //   {
    //     slug: 'idade',
    //     label: 'Idade',
    //     type: 'range',
    //     unit: ' anos',
    //     options: {
    //       step: 1,
    //       min: 18,
    //       max: 80,
    //       tooltip: (val) => val + ' anos'
    //     }
    //   },
    //   {
    //     slug: 'peso',
    //     label: 'Peso',
    //     type: 'range',
    //     unit: 'Kg',
    //     options: {
    //       step: 5,
    //       min: 30,
    //       max: 180,
    //       tooltip: (val, unit) => val + 'Kg'
    //     }
    //   },
    //   {
    //     slug: 'altura',
    //     label: 'Altura',
    //     type: 'range',
    //     unit: 'm',
    //     options: {
    //       step: 0.05,
    //       min: 1,
    //       max: 2.4,
    //       tooltip: (val) => val + 'm'
    //     }
    //   },
    //   {
    //     slug: 'circuferenciaabdominal',
    //     label: 'Cintura',
    //     type: 'range',
    //     unit: 'cm',
    //     options: {
    //       step: 1,
    //       min: 20,
    //       max: 150,
    //       tooltip: (val) => val + 'cm'
    //     }
    //   },
    //   {
    //     slug: 'indicegordura',
    //     label: '% Gordura',
    //     type: 'range',
    //     unit: '%',
    //     options: {
    //       step: 1,
    //       min: 1,
    //       max: 80,
    //       tooltip: (val) => val + '%'
    //     }
    //   },

    //   {
    //     slug: 'praticanteMusculacao',
    //     label: 'Praticante de Musculação',
    //     type: 'checkbox'
    //   }
  ]


  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        departments: 'department/items',
        ramos: 'classes/items',
        types: 'type/items',
        cities: 'city/items'
      })
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findDepartments: 'department/find',
        findClasses: 'classes/find',
        findTypes: 'type/find',
        findCities: 'city/find'
      }),
      async getOptions() {
        await this.findDepartments()
        await this.findClasses()
        await this.findTypes()
        await this.findCities()
        if (this.filters.filter(obj => obj.slug === 'department_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let depto in this.departments) {
            options.push(
              Object.assign({}, {
                key: this.departments[depto].id,
                label: this.departments[depto].description
              })
            )
          }
          this.filters.push({
            slug: 'department_id',
            label: 'Departamento',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por depto',
            options: options
          })
        }
        if (this.filters.filter(obj => obj.slug === 'type_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let type in this.types) {
            options.push(
              Object.assign({}, {
                key: this.types[type].id,
                label: this.types[type].description
              })
            )
          }
          this.filters.push({
            slug: 'type_id',
            label: 'Tipo de Pessoa',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por tipo de pessoa',
            options: options
          })
        }
        if (this.filters.filter(obj => obj.slug === 'class_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let ramo in this.classes) {
            options.push(
              Object.assign({}, {
                key: this.classes[ramo].id,
                label: this.classes[ramo].description
              })
            )
          }
          this.filters.push({
            slug: 'class_id',
            label: 'Área de atuação',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por ramo',
            options: options
          })
        }
        if (this.filters.filter(obj => obj.slug === 'city_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let city in this.cities) {
            options.push(
              Object.assign({}, {
                key: this.cities[city].id,
                label: this.cities[city].name
              })
            )
          }
          this.filters.push({
            slug: 'city_id',
            label: 'Cidade',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por cidade',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
