<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        
        <el-row :gutter="24">
          <el-col :span="10">
             <el-form-item label="Grupo" prop="description">
               <el-input v-model="item.description" placeholder="Nomeie o grupo de direitos"/>
            </el-form-item>
          </el-col>
        </el-row>
        
      </div>
      </el-col>
      
      <el-button type="primary" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import axios from 'axios'

  const MODULE_NAME = 'rightGroup'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        description: ''
      },
      rules: {
        description: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({})
    },
    created() {
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({})
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
