<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        
        <el-row :gutter="24">
          <el-col :span="18">
            
            <el-row :gutter="24">
              <el-col :span="10">
                <el-form-item label="Título" prop="name">
                  <el-input v-model="item.name" placeholder="Título para o contato"/>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="Contato principal?" prop="name">
                  <el-checkbox v-model="isMainContact" :label="isMainContact ? 'Sim' : 'Não' " border />
                </el-form-item>
              </el-col>
            </el-row>
            
             <el-row :gutter="24">
               <el-col :span="8">
                  <el-form-item label="Empresa" prop="company_id">
                    <el-select v-model="item.company_id" placeholder="Selecione a empresa" filterable clearable automatic-dropdown >
                      <el-option
                      v-for="company in companies"
                      :key="company.id"
                      :label="company.fantasyName"
                      :value="company.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="Usuário" prop="person_id">
                    <el-select v-model="item.person_id" placeholder="Selecione o usuário" filterable clearable automatic-dropdown >
                      <el-option
                      v-for="person in users"
                      :key="person.id"
                      :label="person.name"
                      :value="person.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              
              <el-row :gutter="24">
                <el-col :span="6">
                  <el-form-item label="Telefone" prop="phone">
                    <el-input v-model="item.phone" placeholder="(11) 99999-9999"/>
                  </el-form-item>
                </el-col>
                <el-col :span="10">
                  <el-form-item label="Email" prop="email">
                    <el-input v-model="item.email" placeholder="email@exemplo.com"/>
                  </el-form-item>
                </el-col>
              </el-row>
              
              <el-row :gutter="24">
                <el-col :span="12">
                  <el-form-item label="Social" prop="social">
                    <el-input v-model="item.social" placeholder="Endereço do perfil em rede social"/>
                  </el-form-item>
                </el-col>
              </el-row>
              
          </el-col>
        </el-row>
        
      </div>
      </el-col>
      
      <el-button type="primary" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'contact'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        company_id: '',
        person_id: '',
        name: '',
        phone: '',
        email: '',
        mainContact: '',
        social: '',
      },
      isMainContact: false,
      rules: {
        name: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        companies: 'company/items',
        users: 'usuario/items'
      })
    },
    watch: {
      'isMainContact' () {
        if (this.isMainContact == true) {
          this.item.mainContact = 'S'
        }
        else {
          this.item.mainContact = 'N'
        }
      }
    },
    created() {
      this.findCompanies()
      this.findUsers()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCompanies: 'company/find',
        findUsers: 'usuario/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
