<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :users.sync="users" :rights.sync="rights" :rightGroups.sync="rightGroups" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'rightControl'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Pessoa', slug: 'person_id' },
    { label: 'Tipo de Direito', slug: 'right_id' },
    { label: 'Grupo', slug: 'rightGroup_id' }
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        users: 'usuario/items',
        rights: 'right/items',
        rightGroups: 'rightGroup/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findUsers: 'usuario/find',
        findRights: 'right/find',
        findRightGroups: 'rightGroup/find'
      }),
      async getOptions() {
        await this.findUsers()
        await this.findRights()
        await this.findRightGroups()
        if (this.filters.filter(obj => obj.slug === 'person_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let person in this.users) {
            options.push(
              Object.assign({}, {
                key: this.users[person].id,
                label: this.users[person].name
              })
            )
          }
          this.filters.push({
            slug: 'person_id',
            label: 'Pessoa',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por pessoa',
            options: options
          })
        }
        if (this.filters.filter(obj => obj.slug === 'right_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let right in this.rights) {
            options.push(
              Object.assign({}, {
                key: this.rights[right].id,
                label: this.rights[right].description
              })
            )
          }
          this.filters.push({
            slug: 'right_id',
            label: 'Direito',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por direito',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
