<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">

          <el-col :span="18">
            <el-row :gutter="24">
              <el-col :span="12">
                <el-form-item label="Selecione o tipo de pessoa" prop="personType">
                  <el-radio-group v-model="isPersonType" autofocus>
                    <el-radio-button label="Pessoa Física" size="small"/>
                    <el-radio-button label="Pessoa Jurídica" size="small"/>
                  </el-radio-group>
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="Status" prop="class_id">
                  <el-select v-model="item.class_id" placeholder="Escolha..." filterable clearable automatic-dropdown >
                    <el-option
                    v-for="status in ramos"
                    :key="status.id"
                    :label="status.description"
                    :value="status.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            
            <el-row :gutter="24">
              <el-col :span="18">
                <el-form-item label="Nome completo" prop="name">
                  <el-input v-model="item.name" placeholder="Digite o nome completo"/>
                </el-form-item>
              </el-col>
              
            </el-row>
          
          <el-row :gutter="24">
            <el-col :span="8">
                <el-form-item label="Ramo" prop="type_id">
                  <el-select v-model="item.type_id" placeholder="Escolha..." filterable clearable automatic-dropdown >
                    <el-option
                    v-for="type in types"
                    :key="type.id"
                    :label="type.description"
                    :value="type.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
            <el-col :span="10">
              <el-form-item :label="item.personType == 'J' ? 'CNPJ' : 'CPF'" prop="cnpjCpf">
                <div class="el-input">
                  <the-mask class="el-input__inner" v-model="item.cnpjCpf" :mask="item.personType == 'J' ? '##.###.###/####-##' : '###.###.###-##'" :placeholder=" item.personType == 'J' ? 'Ex.: 10.456.634/0001-09' : 'Ex.: 080.943.765-46'" inputmode="numeric" pattern="[0-9\.\-\/]*"/>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          
          <el-row :gutter="24">
            <el-col :span="6">
              <el-form-item label="CEP" prop="cep">
                <div class="el-input">
                  <the-mask class="el-input__inner" v-model="item.cep" mask="#####-###" placeholder="Digite o CEP" inputmode="numeric" pattern="[0-9\.\-\/]*" @input.native.capture="consultaCEP()"/>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="Cidade" prop="city_id">
                <el-select v-model="item.city_id" placeholder="Escolha..." filterable clearable automatic-dropdown >
                  <el-option
                  v-for="city in cities"
                  :key="city.id"
                  :label="city.name"
                  :value="city.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item label="Bairro" prop="district">
                <el-input v-model="item.district" placeholder="Nome do bairro" />
              </el-form-item>
            </el-col>
          </el-row>
          
          <el-row :gutter="24">
            <el-col :span="18">
              <el-form-item label="Endereço">
                <el-input placeholder="Número" v-model="item.number">
                  <el-input slot="prepend" placeholder="Logradouro" v-model="item.address" />
                  <el-input slot="append" placeholder="Complemento" v-model="item.complement" />
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          
          <el-row :gutter="24">
            <el-col :span="8">
              <el-form-item label="Login" prop="user">
                <el-input v-model="item.user" placeholder="Ex.: admJoao95"/>
              </el-form-item>
            </el-col>
  
            <el-col :span="10">
              <el-form-item label="Senha" prop="password">
                <el-input v-model="item.password" :type="pwdType" placeholder="Senha (mín. 6 dígitos)"/>
                <span class="pwd" :class="pwdType === 'password' ? 'not-visible' : 'visible'" @click="showPwd">
                  <svg-icon icon-class="eye-open" />
                </span>
              </el-form-item>
            </el-col>
          </el-row>
          
        </el-col>
        
        
        

      </div>
      </el-col>
      <el-button type="primary" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submitPaginated"> Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import _ from 'lodash'
  import axios from 'axios'

  import { TheMask } from 'vue-the-mask'

  const MODULE_NAME = 'usuario'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    components: { TheMask },
    data: () => ({
      MODULE_NAME,
      item: {
        name: '',
        cnpjCpf: '',
        cep: '',
        district: '',
        address: '',
        number: '',
        complement: '',
        personType: '',
        city_id: '',
        type_id: '',
        class_id: '',
        user: '',
        password: ''
      },
      isPersonType: '',
      pwdType: 'password',
      rules: {
        personType: [{ required: true, message: 'Campo obrigatório.', trigger: 'blur' }]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        cities: 'city/items',
        ramos: 'classes/items',
        types: 'type/items'
      })
    },
    watch: {
      'isPersonType' () {
        if (this.isPersonType == 'Pessoa Física') {
          this.item.personType = 'F'
        }
        else {
          this.item.personType = 'J'
        }
      }
    },
    created() {
      this.findCities()
      this.findClasses()
      this.findTypes()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .then(() => console.log(this.item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCities: 'city/find',
        findClasses: 'classes/find',
        findTypes: 'type/find',
      }),
      showPwd() {
        return this.pwdType === 'password' ? this.pwdType = '' : this.pwdType = 'password'
      },
      consultaCEP() {
        if (this.item.cep.length == 8) {
          axios.get(`https://viacep.com.br/ws/${ this.item.cep }/json/`)
            .then(response => {
              console.log(response.data)
              this.item.district = response.data.bairro
              this.item.address = response.data.logradouro
              this.item.number = response.data.complemento
              this.item.complement = response.data.unidade
              for (let city in this.cities) {
                if (this.cities[city].name == response.data.localidade) {
                  this.item.city_id = this.cities[city].id
                }
              }
            })
            .catch(error => console.log(error))
        }
      }
      // handleAvatarSuccess(res, file) {
      //   this.item.foto = URL.createObjectURL(file.raw);
      // },
      // beforeAvatarUpload(file) {
      //   const isLt2M = file.size / 1024 / 1024 < 2;

      //   if (!isLt2M) {
      //     this.$message.error('As imagens de perfil não podem exceder 2MB!');
      //   }
      //   return isLt2M;
      // }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';

  .el-input-group {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 2.8fr 1fr 1.4fr;
    grid-gap: 0;
  }

  .el-input-group .el-input__inner,
  .el-input-group__append,
  .el-input-group__prepend {
    width: 100%;
  }

  .el-input-group>.el-input__inner {
    border-right: none;
    border-left: none;
  }

  .el-input-group__append,
  .el-input-group__prepend {
    padding: 0;
    border: none;
  }

  .el-input-group__append .el-input input {
    border-radius: 0 4px 4px 0;
  }

  .el-input-group__prepend .el-input input {
    border-radius: 4px 0 0 4px;
  }
</style>
