<template>
  <div class="app-container">
    <el-row style="margin-bottom: 2rem;">
      <el-button-group style="margin-right: 10px;">
        <el-button
          v-waves
          class="filter-item"
          style="margin-left: 0;"
          type="primary"
          icon="el-icon-plus"
          @click="$router.push(`new`)">
          Adicionar Novo
        </el-button>
        <download-excel v-waves class="el-button filter-item el-button--primary" :data="excel" type="xls" name="tabelaUsuarios.xls" style="display: inline-flex; float: right; font-weight: 400;">
        <i class="el-icon-download"></i><span style="margin-left: 7px;">Exportar</span>
      </download-excel>
      </el-button-group>
      
      
      
    </el-row>
    <div>
      
 <!--START FILTER-BAR -->
    <el-row :gutter="10" class="filter-container">
       <!--START FILTER OPTIONS LOOP -->
       <custom-el-filter v-for="(filter, index) in filters" :key="index" :filter.sync="filter" :filterOptions.sync="filterOptions" :loading="loading" @change.native.capture="debouncedConsulta()" @input.native.capture="debouncedConsulta()" @blur.native.capture="debouncedConsulta()" @click.native.capture="debouncedConsulta()"/>
       <!--END FILTER OPTIONS LOOP -->
    </el-row>
 <!--END FILTER-BAR -->

    <h3 class="paginationLabel" > Exibindo de {{ from }} a {{ to }} de {{ total }} resultados</h3>
    <el-pagination hide-on-single-page="true" :disabled.sync="loading" :page-size="15" :pager-count="11" :total.sync="total" layout="prev, pager, next" auto-scroll="true" style="margin-bottom: 16px;" @current-change.capture="handlePageChange" />

<!-- START COMPLEX TABLE -->
    <el-table
      v-loading="loading"
      :data.sync="items"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
      v-for="field in fields"
      :label="field.label"
      :prop="field.slug"
      :key="field.slug"
      align="center"
      sortable
      >
        <template slot-scope="scope">
          <span>{{ field.slug === 'personType' ? getPersonTypeValues(scope.row[field.slug]) : field.slug === 'city_id' ? getCityValues(scope.row[field.slug]) : field.slug === 'department_id' ? getDepartmentValues(scope.row[field.slug]) : field.slug === 'class_id' ? getRamoValues(scope.row[field.slug]) : field.slug === 'type_id' ? getTypeValues(scope.row[field.slug]) : scope.row[field.slug] }}</span>
        </template>
</el-table-column>

<!-- AÇÕES FIXAS DA TABELA -->
<el-table-column label="Ações" align="center" class-name="small-padding fixed-width">
  <template slot-scope="scope">
          <el-button circle plain type="success" size="small" icon="el-icon-edit" title="Editar" @click="handleUpdate(scope.row)" />
          <el-button circle plain type="primary" size="small" icon="el-icon-delete" title="Remover" @click="handleDelete(scope.row)"/>
        </template>
</el-table-column>
</el-table>
<!-- END COMPLEX TABLE -->

<h3 class="paginationLabel"> Exibindo de {{ from }} a {{ to }} de {{ total }} resultados</h3>
</div>
</div>
</div>
</template>

<script>
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import CustomElFilter from '@/components/Table/custom-el-filter'
  import waves from '@/directive/waves' // waves directive
  import _ from 'lodash';

  const MODULE_NAME = 'usuario'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    props: ['fields', 'filters', 'cities', 'departments', 'types', 'ramos'],
    directives: { waves },
    components: { CustomElFilter },
    data() {
      return {
        page: 1,
        filterOptions: {},
        downloadLoading: false,
      }
    },
    computed: {
      ...crudStore.computed,
      excel() {
        let excel = this.items
        return excel
      },
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      handlePageChange(page) {
        this.findPaginated({ page: page })
      },
      debouncedConsulta: _.debounce(function consulta() {
        this.findPaginated({ page: 1 })
      }, 500),

      getDepartmentValues(id) {
        let result = '' // guardar resultados traduzidos
        for (let depto in this.departments) {
          // bate cada id na array contra os IDs das measures
          // e retorna a descrição correspondente
          if (this.departments[depto].id == id) {
            result = this.departments[depto].description
            return result
          }
        }
      },
      getRamoValues(id) {
        let result = '' // guardar resultados traduzidos
        for (let ramo in this.ramos) {
          // bate cada id na array contra os IDs das measures
          // e retorna a descrição correspondente
          if (this.ramos[ramo].id == id) {
            result = this.ramos[ramo].description
            return result
          }
        }
      },
      getTypeValues(id) {
        let result = '' // guardar resultados traduzidos
        for (let status in this.types) {
          // bate cada id na array contra os IDs das measures
          // e retorna a descrição correspondente
          if (this.types[status].id == id) {
            result = this.types[status].description
            return result
          }
        }
      },
      getCityValues(id) {
        let result = '' // guardar resultados traduzidos
        for (let city in this.cities) {
          // bate cada id na array contra os IDs das measures
          // e retorna a descrição correspondente
          if (this.cities[city].id == id) {
            result = this.cities[city].name
            return result
          }
        }
      },
      getPersonTypeValues(sigla) {
        if (sigla == 'J') {
          return 'Pessoa Jurídica'
        }
        else {
          return 'Pessoa Física'
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/list-table.scss';
</style>
