<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        
        <el-row :gutter="24">
          <el-col :span="18">
            
             <el-row :gutter="24">
               <el-col :span="6">
                  <el-form-item label="País" prop="country_id">
                    <el-select v-model="item.country_id" placeholder="Selecione o país" filterable clearable automatic-dropdown >
                      <el-option
                      v-for="country in countries"
                      :key="country.id"
                      :label="country.description"
                      :value="country.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                
              </el-row>
              
              <el-row :gutter="24">
                <el-col :span="12" style="padding-left: 0;">
                  <el-form-item label="Estado" prop="name">
                    <el-input v-model="item.name" placeholder="Digite o nome do estado"/>
                  </el-form-item>
                </el-col>
                <el-col :span="4" style="padding-left: 0;">
                  <el-form-item label="UF" prop="uf">
                    <el-input v-model="item.uf" placeholder="Digite o UF"/>
                  </el-form-item>
                </el-col>
              </el-row>
              
          </el-col>
        </el-row>
        
      </div>
      </el-col>
      
      <el-button type="primary" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'uf'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        country_id: '',
        uf: '',
        name: ''
      },
      rules: {
        name: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        countries: 'country/items'
      })
    },
    created() {
      this.findCountries()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCountries: 'country/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
