<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        
        <el-row :gutter="24">
          <el-col :span="18">
            
             <el-row :gutter="24">
               <el-col :span="8">
                  <el-form-item label="Usuário" prop="person_id">
                    <el-select v-model="item.person_id" placeholder="Selecione o usuário" filterable clearable automatic-dropdown >
                      <el-option
                      v-for="person in users"
                      :key="person.id"
                      :label="person.name"
                      :value="person.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
               <el-col :span="8">
                  <el-form-item label="Direito" prop="right_id">
                    <el-select v-model="item.right_id" placeholder="Escolha o direito" clearable automatic-dropdown >
                      <el-option
                      v-for="right in rights"
                      :key="right.id"
                      :label="right.description"
                      :value="right.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
               <el-col :span="8">
                  <el-form-item label="Grupo de direitos" prop="rightGroup_id">
                    <el-select v-model="item.rightGroup_id" placeholder="Escolha o grupo" clearable automatic-dropdown >
                      <el-option
                      v-for="group in rightGroups"
                      :key="group.id"
                      :label="group.description"
                      :value="group.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                
              </el-row>
              
              
              
          </el-col>
        </el-row>
        
      </div>
      </el-col>
      
      <el-button type="primary" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'rightControl'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        right: '',
        person_id: '',
        right_id: '',
        rightGroup_id: '',
      },
      rules: {
        right: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        users: 'usuario/items',
        rights: 'right/items',
        rightGroups: 'rightGroup/items'
      })
    },
    created() {
      this.findUsers()
      this.findRights()
      this.findRightGroups()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findUsers: 'usuario/find',
        findRights: 'right/find',
        findRightGroups: 'rightGroup/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
