<template>
  <span>
    <el-input
      v-model="query"
      placeholder="Pesquisar"
      style="width: 400px;"
      class="filter-item"
      @keyup.enter.native="handleSearch"
    />
    <el-select v-if="fields && fields.length" v-model="field" placeholder="Selecionar">
      <el-option
        v-for="field in fields"
        :key="field.value"
        :label="field.label"
        :value="field.value"
      />
    </el-select>
    <industria-search @change="handleIndustriaChange"/>
    <el-date-picker v-model="dates" format="dd/MM/yyyy" type="daterange"/>
    <el-button
      class="filter-item"
      type="primary"
      icon="el-icon-search"
      @click="handleSearch"
    >Pesquisar</el-button>
  </span>
</template>

<script>
import IndustriaSearch from './IndustriaSearch.vue'
export default {
  components: { IndustriaSearch },
  props: ['fields'],
  data: () => ({
    query: '',
    field: '',
    industry: '',
    dates: [],
    dateStart: '',
    dateLast: ''
  }),
  created() {
    this.field = this.fields[0].value
    this.dates.push(Date.now() - 3600 * 24 * 7 * 1000)
    this.dates.push(Date.now())
  },
  methods: {
    handleSearch() {
      const obj = {
        [this.field]: this.query,
        industry: this.industry,
        dateStart: new Date(this.dates[0]).toISOString().split('T')[0],
        dateLast: new Date(this.dates[1]).toISOString().split('T')[0]
      }
      this.$emit('search', obj)
    },
    handleIndustriaChange(value) {
      alert('selecionado id: ' + value)
      this.industry = value
    }
  }
}
</script>

<style scoped>
</style>
