<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :countries.sync="countries" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'uf'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'ID', slug: 'id' },
    { label: 'Estado', slug: 'name' },
    { label: 'UF', slug: 'uf' },
    { label: 'País', slug: 'country_id' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'uf/items',
        countries: 'country/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCountries: 'country/find'
      }),
      async getOptions() {
        await this.findCountries()
        if (this.filters.filter(obj => obj.slug === 'country_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let country in this.countries) {
            options.push(
              Object.assign({}, {
                key: this.countries[country].id,
                label: this.countries[country].description
              })
            )
          }
          this.filters.push({
            slug: 'country_id',
            label: 'País',
            type: 'select',
            autocomplete: true,
            placeholder: 'Filtrar por país',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
