<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :costCenters.sync="costCenters" :companyGroups.sync="companyGroups" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'company'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Nome', slug: 'fantasyName' },
    { label: 'Funcionários', slug: 'numberEmployees' },
    { label: 'Grupo', slug: 'companyGroup_id' },
    { label: 'Finanças', slug: 'costCenter_id' },
    { label: 'Status', slug: 'status' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'company/items',
        companyGroups: 'companyGroup/items',
        costCenters: 'costCenter/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.findCompanyGroups()
      this.findCostCenters()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCompanyGroups: 'companyGroup/find',
        findCostCenters: 'costCenter/find'
      }),
    }
  }
</script>
